<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{width:'250px'}">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button><mat-icon>logout</mat-icon>Logout</button>
  </mat-toolbar>

</mat-sidenav-container>


<router-outlet></router-outlet>
