<h1>
  Heroes / Agregar
  heroe
  <small>Superman</small>
</h1>

<mat-divider class="mb-2"></mat-divider>


<div class="grid">
  <div class="col-12 sm_col-6">
    <mat-card>
      <mat-card-content>
        <div class="grid">

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Sueper heroe</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Primera aparición</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Personaje</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Crador</mat-label>
            <mat-select required>
             <mat-option
                [value]="publicsher.id"
                *ngFor=" let publicsher of optionCraatorPerson"
              >
              {{publicsher.desc}}
            </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="flex justify-content-between">
          <button mat-flat-button color="warn"> <mat-icon>delete</mat-icon> Borrar</button>
          <button mat-flat-button color="primary"> <mat-icon>save</mat-icon> Guardar</button>
        </div>


      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">

    <mat-card>
      <img [src]="" alt="imagen del herue" mat-card-image>
    </mat-card>

  </div>
</div>
